:root {
  --light-blue: #95bdc8;
  --light-pink: #cdb1d7;
  --light-purple: #caaee7;
  --pink: #bd467e;
  --red: #5b0c21;
  --dark-blue: #113f60;
}

@font-face {
  font-family: mainFont;
  src: url(/fonts/AliceInWonderland-z051.ttf);
}

@font-face {
  font-family: alice;
  src: url(/fonts/Alice-Regular.ttf);
}

@font-face {
  font-family: coolStory;
  src: url(/fonts/coolstory\ regular.otf);
}

body {
  background-color: var(--dark-blue);
}

h1 {
  font-family: mainFont;
  font-size: 100px;
  display: flex;
  margin: 0;
  color: white;
}

h2 {
  font-family: alice;
  font-size: 35px;
  color: var(--red);
}

.guesses h2 {
  color: var(--light-pink);
}

a {
  text-decoration: none;
}

a :hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.border {
  background-color: var(--pink);
  clip-path: polygon(10% 0%, 100% 0%, 93% 50%, 100% 100%, 10% 100%, 0% 50%);
  height: 5rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.shape {
  background-color: var(--light-pink);
  clip-path: polygon(10% 0%, 100% 0%, 93% 50%, 100% 100%, 10% 100%, 0% 50%);
  height: 4rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guesses {
  margin-right: 2rem;
}

.guesses p {
  color: var(--pink);
  font-family: coolStory;
  font-size: 35px;
  justify-self: center;
}

main {
  background-image: url(/images/forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  display: flex;
  justify-content: space-around;
  margin: 0 2rem 2rem 2rem;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.word {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.letter-border {
  width: 3rem;
  border-bottom: 3px solid white;
  list-style-type: none;
}

.letter {
  font-family: coolStory;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-pink);
  display: none;
}

.show-letter {
  display: block;
}

.keyboard {
  width: 85%;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

button {
  width: 5rem;
  height: 4rem;
  border-radius: 10px;
  font-family: coolStory;
  font-weight: bold;
  font-size: 30px;
  border: 5px solid var(--red);
  background-color: var(--light-pink);
}

button:hover {
  cursor: pointer;
}

.wonOrLost {
  background-color: var(--light-purple);
  position: fixed;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translate(20%, 20%);
  border-radius: 3%;
  display: none;
  background-image: url(/images/tea-party.png), url(/images/rabbit-alice.png),
    url(/images/queen.png);
  background-position: top left, top right, bottom left;
  background-repeat: no-repeat;
  background-size: 8rem, 9rem, 8rem;
  z-index: 5;
}

.wonOrLost h2 {
  text-align: center;
}

.answer h3 {
  font-family: alice;
  font-size: 30px;
  color: var(--red);
}

.answer p {
  font-family: coolStory;
  font-size: 40px;
  color: var(--pink);
  text-transform: uppercase;
  text-align: center;
}

.button-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.button-container img {
  height: 7rem;
  align-self: center;
}

.border2 {
  background-color: var(--pink);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 7% 50%);
  height: 5rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: flex-end; */
  margin-right: 2rem;
}

.border2:hover {
  cursor: pointer;
}

.shape2 {
  background-color: var(--light-pink);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 7% 50%);
  height: 4rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#block-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(99, 75, 188, 0.211);
  z-index: 4;
  pointer-events: all;
}

/* responsive */

@media screen and (max-width: 1240px) {
  .hangman-box img {
    height: 30rem;
  }
}

/* tablet */
@media screen and (max-width: 1024px) {
  .hangman-box img {
    height: 25rem;
  }

  .word {
    flex-wrap: wrap;
  }

  .letter-border {
    width: 2.5rem;
  }
}

@media screen and (max-width: 620px) {
  h1 {
    font-size: 95px;
  }

  h2 {
    font-size: 30px;
  }

  header {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .guesses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
  }

  .border {
    height: 4rem;
    width: 15rem;
  }

  .shape {
    width: 13.5rem;
    height: 3rem;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  .hangman-box img {
    height: 18rem;
  }

  .section2 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .letter-border {
    width: 2.5rem;
  }

  .letter {
    font-size: 33px;
  }

  button {
    font-size: 28px;
    width: 4.5rem;
    height: 3.5rem;
  }

  .border2 {
    height: 4rem;
    width: 15rem;
    margin-top: 1rem;
  }

  .shape2 {
    width: 13.5rem;
    height: 3rem;
  }

  .wonOrLost {
    background-size: 5rem, 6rem, 6rem;
    width: 80%;
    height: 80%;
    transform: translate(12%, 12%);
  }

  #result-h2 {
    margin-top: 5rem;
  }

  .button-container img {
    height: 6rem;
  }
}

/* mobile */
@media screen and (max-width: 520px) {
  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 30px;
  }

  header {
    flex-direction: column;
    margin-top: 2rem;
  }

  .border {
    position: relative;
    left: 0;
    margin: 0;
    height: 4rem;
    width: 15rem;
  }

  .shape {
    width: 13.5rem;
    height: 3rem;
  }

  main {
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 2rem 1rem;
  }

  .hangman-box img {
    height: 15rem;
  }

  .word {
    justify-content: center;
    gap: 0.5rem;
  }

  .letter-border {
    width: 2rem;
  }

  .letter {
    font-size: 25px;
  }

  .keyboard {
    justify-content: center;
    margin-bottom: 2rem;
  }

  button {
    width: 4rem;
    height: 3rem;
    font-size: 25px;
  }

  .wonOrLost {
    width: 75%;
    height: 85%;
    background-size: 4rem, 5rem, 5rem;
  }

  .answer h3 {
    font-size: 25px;
  }

  .answer p {
    font-size: 30px;
  }

  .button-container img {
    height: 5rem;
  }

  .border2 {
    height: 4rem;
    width: 15rem;
    align-self: center;
  }

  .shape2 {
    width: 13.5rem;
    height: 3rem;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 28px;
  }

  .guesses p {
    font-size: 30px;
  }

  .hangman-box img {
    height: 13rem;
  }

  button {
    width: 3.8rem;
    height: 2.8rem;
    font-size: 23px;
  }
}
