:root {
  --light-blue: #95bdc8;
  --light-pink: #cdb1d7;
  --light-purple: #caaee7;
  --pink: #bd467e;
  --red: #5b0c21;
  --dark-blue: #113f60;
}

@font-face {
  font-family: mainFont;
  src: url(/fonts/AliceInWonderland-z051.ttf);
}

@font-face {
  font-family: alice;
  src: url(/fonts/Alice-Regular.ttf);
}

@font-face {
  font-family: coolStory;
  src: url(/fonts/coolstory\ regular.otf);
}

body {
  background-image: url(/images/bg2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-image: url(/images/knave.png), url(/images/dodo.png),
    url(/images/alice.png), url(/images/rabbit.png);
  background-position: top left, top right, bottom left, bottom right;
  background-size: 10rem;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: mainFont;
  font-size: 180px;
}

#play-me {
  font-family: coolStory;
  font-weight: bold;
  font-size: 35px;
  color: var(--red);
  padding: 3.5rem 2.5rem;
  border: 7px solid var(--red);
  border-radius: 15px;
  background-color: var(--light-pink);
}

a :hover {
  cursor: pointer;
}

/* tablet */
@media screen and (max-width: 620px) {
  h1 {
    font-size: 150px;
  }

  main {
    background-size: 6rem;
  }

  #play-me {
    padding: 3rem 2rem;
    font-size: 30px;
  }
}

/* mobile */

@media screen and (max-width: 520px) {
  h1 {
    font-size: 90px;
    margin: 0;
  }

  main {
    display: flex;
    justify-content: center;
    background-size: 8rem;
  }

  #play-me {
    font-size: 23px;
    padding: 2rem 1rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 360px) {
  main {
    background-size: 5rem;
  }
}
