:root {
  --light-blue: #95bdc8;
  --light-pink: #cdb1d7;
  --light-purple: #caaee7;
  --pink: #bd467e;
  --red: #5b0c21;
  --dark-blue: #113f60;
}

@font-face {
  font-family: mainFont;
  src: url(/fonts/AliceInWonderland-z051.ttf);
}

@font-face {
  font-family: alice;
  src: url(/fonts/Alice-Regular.ttf);
}

@font-face {
  font-family: coolStory;
  src: url(/fonts/coolstory\ regular.otf);
}

body {
  background-image: url(/images/bg3.jpg);
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

h1 {
  font-family: mainFont;
  font-size: 100px;
  display: flex;
  justify-self: center;
  margin-bottom: 6rem;
}

h2 {
  font-family: alice;
  font-size: 35px;
  color: var(--red);
}

header {
  align-self: flex-start;
}

.border {
  background-color: var(--pink);
  clip-path: polygon(10% 0%, 90% 0%, 85% 50%, 90% 100%, 10% 100%, 0% 50%);
  height: 5rem;
  /* width: 20%; */
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 2rem;
}

.shape {
  background-color: var(--light-pink);
  clip-path: polygon(10% 0%, 90% 0%, 85% 50%, 90% 100%, 10% 100%, 0% 50%);
  height: 4rem;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  width: 40%;
  justify-self: center;
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
}

a :hover {
  cursor: pointer;
}

button {
  width: 15rem;
  height: 12rem;
  font-family: coolStory;
  font-weight: bold;
  font-size: 30px;
  border-radius: 15px;
  border: 8px solid var(--red);
}

#movies-btn {
  color: var(--pink);
  background-color: var(--light-blue);
}

#animals-btn {
  color: var(--pink);
  background-color: var(--dark-blue);
}

#countries-btn {
  color: var(--light-pink);
  background-color: var(--pink);
}

#mixed-btn {
  color: var(--red);
  background-color: var(--light-pink);
}
